streamlit>=1.25.0
requests
ollama
langchain==0.1.17
langchain-core==0.1.53
langchain-community==0.0.29
langchain-ollama==0.2.2
chromadb==0.5.0
pypdf
pypdf2
tiktoken
sentence-transformers
pdf2image
pytesseract
numpy
